{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h2>Available services</h2>
    </div>
{% include "customers_manager/partials/services_navigation.html.twig" %}

{% block content %}
   <div class="col-md-6">
    There is the content
    </div> 
{% endblock %}


{% endblock %}