{% extends 'base.html.twig' %}

{% block body %}
           <div class="jumbotron text-center">
                  <h1>Customer Manager</h1>
           </div>
           <div class="welcomeText">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis
               debitis doloremque ea ex exercitationem fuga illum ipsam laboriosam magnam
               minima minus molestiae, neque,
               nihil possimus quod ratione sapiente ullam!
               nihil possimus quod ratione sapiente ullam!
               nihil possimus quod ratione sapiente ullam!
               nihil possimus quod ratione sapiente ullam!
               nihil possimus quod ratione sapiente ullam!
               nihil possimus quod ratione sapiente ullam!
               nihil possimus quod ratione sapiente ullam!
           </div>

    <div class="boxes">
         <div class="row box-wrapper collor-red">
                  <div class="text-center">
                      <img src="http://www.setmore.com/landing-page/spa/images/customer-bubbles.png" alt="...">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate, delectus, dignissimos dolores eos esse est eum ex expedita, fugit modi molestiae nam neque quas saepe similique soluta suscipit tempora.</p>
                  </div>
        </div>

         <div class="row box-wrapper collor-cyan">
             <div class="text-center">
                 <img src="http://eserveinfosys.com/images/services/hire_dedicated_professional.png" alt="...">
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate, delectus, dignissimos dolores eos esse est eum ex expedita, fugit modi molestiae nam neque quas saepe similique soluta suscipit tempora.</p>
             </div>
        </div>
    </div>
{% endblock %}
