{% extends 'base.html.twig' %}

{% block body %}
    {{ include("customers_manager/partials/navigation.html.twig") }}
       <div class="entry-wrapper">
           <div class="col-md-6">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem deleniti eius est facilis minus molestiae odit possimus, quidem vitae. Aperiam at beatae maiores nulla perspiciatis praesentium, soluta suscipit tempora.
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem deleniti eius est facilis minus molestiae odit possimus, quidem vitae. Aperiam at beatae maiores nulla perspiciatis praesentium, soluta suscipit tempora.
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem deleniti eius est facilis minus molestiae odit possimus, quidem vitae. Aperiam at beatae maiores nulla perspiciatis praesentium, soluta suscipit tempora.
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem deleniti eius est facilis minus molestiae odit possimus, quidem vitae. Aperiam at beatae maiores nulla perspiciatis praesentium, soluta suscipit tempora.
           </div>
           <div class="col-md-3">
               <img class="home-jumbo-image" src="http://www.funcardsystem.com/sites/default/files/customers-want-630x200.jpeg" alt="">
           </div>
       </div>
{% endblock %}
