body{
    margin: 0;
    padding: 0;
}


.glyphicon{
    margin-right: 10px;
}
.box-wrapper{
    margin-top: 30px;
}
.customer-nav{
    margin-top: 20px;
}
table{
    margin-top: 20px;
}

table .editButton{
    text-align: center;
}

table .deleteButton{
    text-align: center;
}