    <ul class="customer-nav nav navbar-nav">
        <li><button class="btn btn-info">View</button></li>
        <li><button class="btn btn-success">Add</button></li>
        <li><button class="btn btn-warning">Edit</button></li>
        <li><button class="btn btn-danger">Delete</button></li>
    </ul>
