    <ul class="nav nav-tabs nav-justified">
        <li><a href="{{ path("customer_manager_customers_index") }}">View</a></li>
        <li><a href="{{ path("customer_manager_customers_register") }}">Add</a></li>
        <li><a href="">Edit</a></li>
        <li><a href="">Delete</a></li>
    </ul>
