<ul class="nav navbar-nav">
    <li>
        <p class="navbar-btn">
            <a class="btn btn-success" href="{{ path("customer_manager_customers_index") }}">View</a>
        </p>
    </li>

    <li>
        <p class="navbar-btn">
            <a class="btn btn-info" href="{{ path("customer_manager_customers_register") }}">Add</a>
        </p>
    </li>
</ul>