<ul class="nav nav-tabs nav-justified">
    <li><a href="{{ path("customer_manager_appointment_index") }}">View</a></li>
    <li><a href="{{ path("customer_manager_appointment_register") }}">Add</a></li>
</ul>
