{% block services_navigation %}
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item"><a href="">Birthday mailer</a></li>
            <li class="list-group-item"><a href="">Appointment reminder</a></li>
            <li class="list-group-item"><a href="{{path('customer_manager_services_custom_message')}}">Custom message</a></li>
        </ul>
    </div>
{% endblock %}